<ion-header>
  <ion-toolbar>
    <ion-title>Account Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Personal Details
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">First name</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last name</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Update Phone Number
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input type="text" ></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Change password
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input type="password" ></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
